*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    border: 10px solid yellow;
    width: 400px;
    height: 160px;
    position: relative;
}



.battey:before{
content: '';
position: absolute;
width: 0;
height: 90%;
background-color: yellow;
top: 5%;
left: 2%;
animation: before 2s infinite linear;

}

    @keyframes before {

        0%{width: 0;}
        25%{width: 20%;}
        30%{width: 20%;}
50%{width: 50%;}
75%{width: 50%;}
100%{width: 96%;}

    }










.battey:after{

    content: '';
    position: absolute;
    width: 40px;
    height: 50px;
    background-color: yellow;
    right: -50px;
    top: 42px;


}


